<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Employee Directory</h2>
    </div>
    <div class="col-md-4">
      <div class="text-right">
        <button (click)="onAddEmployee()" class="btn btn-primary">Add Employee</button></div>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Designation</th>
            <th scope="col">Gender</th>
            <th scope="col">Joining Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of data">
            <td>{{user.empID}}</td>
            <td>{{ user.Name }}</td>
            <td>{{user.team}}</td>
            <td>{{user.Designation}}</td>
            <td>{{user.Gender}}</td>
            <td>{{user.date | date:'dd/MM/yyyy'}}</td>
          </tr>
         </tbody>
      </table>
    </div>
  </div>
</div>

  



